<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">
<body >

    <div layout:fragment="prompt">
        当前位置：首页 &gt; <em>博客首页</em>
    </div>

    <div layout:fragment="content" >

        <h1>欢迎来到博客首页</h1>

        <table class="table table-bordered" >
            <caption>博客文章</caption>
            <thead>
                <tr>
                    <th>标题</th>
                    <th>总结</th>
                    <th>查看</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="article:${articles}" >
                    <td th:text="${article.title}">标题</td>
                    <td th:text="${article.summary}"><span class="summary"/> </td>
                    <td>
                        <a th:href="@{'/article/detail/'+${article.id} }" type="button"
                           class="btn btn-sm btn-success">详情
                        </a>
                        <a th:href="@{'/article/update/'+${article.id} }" type="button"
                           class="btn btn-sm btn-primary">修改
                        </a>
                        <a th:href="@{'/article/delete/'+${article.id} }" type="button"
                           class="btn btn-sm btn-danger">删除
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

</body>
</html>
