<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringModelInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                 http://www.springframework.org/schema/beans/spring-beans.xsd
                 http://www.springframework.org/schema/context
                  http://www.springframework.org/schema/context/spring-context.xsd ">

        <!-- 自动扫描 -->
        <context:component-scan base-package="com.cycloneboy.ssm"/>

        <!-- 自定义Realm-->
        <bean id="myRealm" class="com.cycloneboy.ssm.realm.MyRealm"/>

        <!-- 自定义安全管理器 -->
        <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
                <property name="realm" ref="myRealm"/>
        </bean>

        <!-- Shiro过滤器 -->
        <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
                <!-- Shiro的核心安全接口,这个属性是必须的 -->
                <property name="securityManager" ref="securityManager"/>
                <!-- 身份认证失败，则跳转到登录页面的配置 -->
                <property name="loginUrl" value="/login.jsp"/>
                <!-- 权限认证失败，则跳转到指定页面 -->
                <property name="unauthorizedUrl" value="/unauthorized.jsp"/>
                <!-- Shiro连接约束配置,即过滤链的定义 -->
                <property name="filterChainDefinitions">
                        <value>
                                /login=anon
                                /user/admin*=authc
                                /user/student*/**=roles[teacher]
                                /user/teacher*/**=perms["user:create"]
                        </value>
                </property>
        </bean>

        <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
        <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

        <!-- 开启Shiro注解 -->
        <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
        <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
                <property name="securityManager" ref="securityManager"/>
        </bean>

</beans>