<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cycloneboy.mybatis.mapper.CardMapper">
   <!-- 根据id 查询card,返回card对象-->
    <select id="selectCardById" parameterType="int" resultType="com.cycloneboy.mybatis.entity.Card">
        SELECT * from t_card where id=#{id}
    </select>
</mapper>